

.formTodoContainer {
    position: relative;
    width: 600px;
    z-index: 1000;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
  }

  .formAddTodo {
    border: 1px solid grey; 
    box-shadow: 20px 20px 80px 5px rgb(169, 164, 164);
    position: absolute;
    width: 500px;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    height: fit-content;
  }

  @media(max-width: 600px) {
    .formTodoContainer {
      width: 350px;
    }
    .formAddTodo {
      width: 300px;
    }
  }

  .formAddTodo input {
    padding-block: 0.5rem;
    margin-bottom: 3px;
    
  }

  #options {
   padding-block: 0.4rem;
  }

  .formAddTodo,
 .formAddProject {
   margin-top: 1rem;
 }

  .addTaskform {
    display: flex;
    flex-direction: column;  
    width: 100%;
   
  }

  .addEditTaskForm label,
  .formAddProject label {
    display: block;
    margin: 0.5rem 0 0.2rem 0;
  }

  .addEditTaskForm input,
  .formAddProject input,
  .addEditTaskForm textarea,
 .addEditTaskForm select {
   width: 100%;
   padding: 0.5rem;
   margin-bottom: 1rem;
 }

 .addEditTaskForm button {
   padding: 0.5rem 1rem;
   margin-right: 0.5rem;
 }

 .formtodo-date-priority-container{
    padding-block: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 0.5rem;
  }

  .labeldate{
    
  }

  .formtodo-footer{
    display:flex; 
    justify-content: space-between;
  }
 
  .btn-primary{
    color:rgb(0, 0, 0);
    font-weight: 600;
    border: none;
    padding: 0.6rem 0.9rem;
    border-radius: 0.3rem;
    cursor: pointer;
  }

  .btn-addtask {
    background-color: #DC4C3E;
    color:white;
    border: none;
    padding: 0.6rem 0.9rem;
    cursor: pointer;
  }
  
  .btn-addtask:focus { 
    outline: 2px solid #218838;
   }

   .btn-formtodo-container {
    display: flex;
    gap: 0.5rem;
   }