
@import "./components/formTodoElements/formTodoElement.css";
@import "./components/navMenu/navMenu.css";
@import "./components/todoElement/todoElement.css";

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(19%,125px) 75%;
  height: 100vh;
  
}
  .flex-line{
   display: flex;
  }


.hero-wrapper{
  max-width: 800px;
  margin: auto;
}

@media (max-width: 910px) {
  body{
    grid-template-columns: 1fr;
  } 
  .hero{
    padding-top:3rem;
  }

  .sidebar {
    position: fixed;
    left: -250px;
    /* Hidden by default */
    top: 0;
    width: 250px;
    transform: translateX(-250px);
    z-index: 1000;
   
  }


  .sidebar.active {
    transform: translateX(250px);
  }

  .menu-toggle {
    display: block;
  }
}

.icontrash{
  width:15px;
  height: auto
}

.icontrash:hover{
  background-color: #DC4C3E;
}

.project{
  margin-bottom:-0.6rem;
  color: black;
}

.project-container  {
  margin-top: 0;
  padding:0;
}

.project-container ul {
  list-style-type: none;
  padding: 0;
 
}

.project-container li {
  padding-block: 0.5rem;
}

.project-container li:hover {
 background-color:#E8E8E8;
 cursor:pointer;
}

.project-container li:focus {
  background-color:#FFEFE5; 
 }

.project-section {
  margin-top: 2rem;
}

.list-projects li a {
  text-decoration: none;
  color: black
}

.project-btn {
  display: block;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: #3498DB;
    color: white;
    border: none;
    cursor: pointer;
  }

  .project-btn:focus {
     outline: 2px solid #0056b3;
  }

  .hero {
     padding-left: 1rem; 
     position: relative;
    }

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 998;
}

.btn-primary{
  color:rgb(0, 0, 0);
  font-weight: 600;
  border: none;
  padding: 0.6rem 0.9rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.labeldate{
  margin-left:1rem
}

.description-todoform {
  resize:none;
  overflow: hidden;
}

 .addEditTaskForm label,
 .formAddProject label {
   display: block;
   margin: 0.5rem 0 0.2rem 0;
 }


 .formAddProject input {
   width: 100%;
   padding: 0.5rem;
   margin-bottom: 1rem;
 }

 .formAddProject button {
   padding: 0.5rem 1rem;
   margin-right: 0.5rem;
 }

.add-task {
    font-weight: bold;
    font-size: 1.2rem;
}

.project{
    font-weight: bold;
    font-size: 1.2rem;
}
.projects-list-menu{
 
}
.project-section {
  width: 100%;
}

.project-title-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


   